header {
    text-align: center;
    padding: $padding;
}

.track {
    position: relative;

    .votes, .adder, .sound {
        padding: 1rem;
    }
    .inline-block {
        display: inline-block;
    }

    .adder, .sound {
        display: inline-block;
    }

    .adder {
        .adder-img {
            @include radius(20rem);
            width: 5rem;
        }
    }

    .sound {
        position: absolute;
        .album-img {
            width: 4rem;
        }
        .details {
            position: absolute;
            width: max-content;
            margin-left: 1rem;
        }
    }

    .votes {
        float: right;
    
        .eart-button {
            width : 7rem;
            .counter-value {
                float: left;
                margin-top: 0.9rem;
                margin-left: 1rem;
            }
            .eart-img {
                width: 3rem;
            }
        }
        .menu {
            padding: 0.5rem;
            margin-right: 1rem;
            .nav-icon {
                width: 2rem;
            }
        }
    }
}