body {
    background: $background;  
    font-family: $font;
}

header {
    background: $header-background;
    font-size: $header-font-size;
    color: $grey-light;
}

.track {
    background: $background-music;
    border: 0.1rem solid $grey-light;

     .adder-img {
        @include radius(20rem);
     }
    .title{
        color: $blue-light;
    }
    .userAdd {
        color: $userAddColor;
    }
    
    .eart-button {
        @include radius(2rem);
        .counter-value {
            color: $grey-light;
            font-size: 1.8rem;
        }
    }
}
