@import url('https://fonts.googleapis.com/css?family=Catamaran');

$background: #F5F5F5;
$font: 'Catamaran', sans-serif;

$header-font-size: 2.2rem;
$header-background: #212121;

$background-music: white;
$grey-light: #EEEEEE;
$grey-medium: #9E9E9E;

$padding: 1rem;

$userAddColor: #8db6d5;